<ion-header>
    <ion-toolbar>

        <!-- Menu principal -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Faça Contato</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <p class="ion-no-margin">Preencha o formulário abaixo para entrar em contato conosco.</p>
    <p class="ion-text-center"><small><ion-text color="danger">Preencha todos os campos.</ion-text></small></p>

    <form [formGroup]="contactForm" (ngSubmit)="contactSend()">

        <ion-list lines="full" class="ion-no-padding">

<ion-item>

    <ion-label form="name" position="floating" color="primary">
        Seu nome:
    </ion-label>
    <ion-input type="text" id="name" name="name" formControlName="name" Placeholder="Seu nome completo"></ion-input>

</ion-item>

<ion-item>

    <ion-label form="email" position="floating" color="primary">
        E-mail:
    </ion-label>
    <ion-input type="text" id="email" name="email" formControlName="email" Placeholder="Seu e-mail principal"></ion-input>

</ion-item>

<ion-item>

    <ion-label form="subject" position="floating" color="primary">
        Assunto:
    </ion-label>
    <ion-input type="text" id="subject" name="subject" formControlName="subject" Placeholder="Assunto do contato"></ion-input>

</ion-item>

<ion-item>

    <ion-label form="message" position="floating" color="primary">
        Mensagem:
    </ion-label>
    <ion-textarea rows="1" type="text" id="message" name="message" formControlName="message" Placeholder="Texto do contato"  autoGrow="true"></ion-textarea>

</ion-item>

<ion-button type="submit" expand="block" class="ion-margin-vertical" [disabled]="contactForm.invalid">
    Enviar
</ion-button>

        </ion-list>

    </form>

</ion-content>