<ion-header>
    <ion-toolbar>

        <!-- Menu principal -->
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title>Sobre</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <h2>Projeto Flores</h2>
    <p>Este aplicativo exibe as notícias mais recentes sobre "flores" e assuntos ligados à floricultura e natureza em geral.</p>

    <h2>Quem fez</h2>
    <p>Este aplicativo foi desenvolvido por Thayná Soares.
        
    </p>

    <h2>Privacidade</h2>
    <p>Este aplicativo não necessita de qualquer informação pressoal ou privilegiada de seus usuários.</p>

</ion-content>